.router-link-active {
  color: black;
}
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5683c;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}
.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}
.Btn:hover,
.Btn:focus{
  color: #f5683c;
  background-color: white;
}
