<div class="bg-gray-50 drop-shadow-xl rounded-lg " *ngIf="participants.length">
    <div class="flex flex-col gap-4 drop-shadow-xl  p-4 max-h-screen overflow-y-auto ">
        <ng-container *ngFor="let participant of participants">
            <div class="flex flex-col  leading-1.5 p-2 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700 cursor-pointer  hover:bg-gray-200" (click)="onChatClick(participant)">
                <div class="flex gap-4 justify-around items-center">
                    <div class="relative">
                        <img class=" w-10 h-10 p-1 rounded-full" src="/assets/images/icons/profile_avatar.svg" alt="Bordered avatar">
                        <!-- <span class="top-0 start-7 absolute w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"></span> -->
                    </div>
                    <div>
                        <p class="text-sm  text-gray-900 dark:text-white font-semibold">{{participant.firstName|uppercase}}</p>
                        <small>Attachments or last message</small>
                    </div>
                    <div class="w-5 h-5 rounded-full bg-green-500 flex justify-center items-center p-2">
                        <p class="text-sm font-bold  text-black">1</p>
                    </div>
                </div>          
             </div>
            </ng-container>
    </div>
 </div>