<div class="bg-gray-50 drop-shadow-xl rounded-lg">
  <div
    class="flex flex-col gap-4 drop-shadow-xl p-4 max-h-screen overflow-y-auto"
  >
    <ng-container *ngFor="let chat of allChats">
      <div
      [ngClass]="{'selected':selectedChatId===chat._id}"
        class="flex flex-col p-2 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700 cursor-pointer hover:bg-gray-200"
        (click)="onChatClick(chat.participants[0], chat._id)"
      >
        <div class="flex gap-4 justify-around items-center">
          <div class="relative flex-shrink-0">
            <img
              class="w-10 h-10 p-1 rounded-full"
              src="/assets/images/icons/profile_avatar.svg"
              alt="Bordered avatar"
            />
            <!-- <span class="top-0 start-7 absolute w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"></span> -->
          </div>
          <div class="flex flex-col flex-grow">
            <p class="text-sm text-gray-900 dark:text-white font-semibold">
              {{ chat.participants[0].firstName | uppercase }}
            </p>
            <small *ngIf="chat.lastMessage" class="text-gray-600"
              >{{ chat.lastMessage.content | slice : 0 : 10
              }}{{ chat.lastMessage.content.length > 10 ? "..." : "" }}</small
            ><br />
          </div>
          <div class="flex flex-col items-end text-right">
            <small class="text-gray-600 dark:text-gray-400">{{
              chat.updatedAt | timeAgo
            }}</small>
            <div
              *ngIf="getUnreadCount(chat._id) > 0"
              class="w-5 h-5 rounded-full bg-green-500 flex justify-center items-center p-2"
            >
              <p class="text-sm font-bold text-black">
                {{ getUnreadCount(chat._id) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
