<footer class="py-6 sm:mt-0 mt-11 sm:px-16 max-sm:px-8 font-[sans-serif]">
    <div
      class="grid max-sm:grid-cols-1 max-xl:grid-cols-3 text-center sm:text-start justify-between xl:grid-cols-4 gap-16 border-t border-gray-300 mt-10 pt-8"
    >
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white underline gap-2 border-b-red-500"><span class="pb-3">MOTOPEDIA</span></h4>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Posts</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Events</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Manufactures</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Users</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">Events</h4>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >All India Trip</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >MotoShow</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >UI/UX Design</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Digital Marketing</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">Resources</h4>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Webinars</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm">Ebooks</a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Templates</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Tutorials</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4 text-white">About Us</h4>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Our Story</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Mission and Values</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm">Team</a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white text-sm"
              >Testimonials</a
            >
          </li>
        </ul>
      </div>
    </div>
    <p class="text-gray-300 text-sm mt-8 max-xl:text-center">
      © 2023<a href="#" target="_blank" class="hover:underline mx-1">MOTOPEDIA</a
      >All Rights Reserved.
    </p>
  </footer>