<div class="relative">
    <div
      [ngClass]="{ hidden: !modalOpen }"
      class="fixed bg-white overflow-y-scroll  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30 w-full max-w-xl max-h-[65%] shadow-md"
    >
      <div class="relative p-4 ">
        <!-- Modal content -->
        <div class="p-4 mb-6  mx-auto border border-black shadow-lg">
         <ng-content select="[first-modal]" ></ng-content>
        </div>
        <div class="p-4 mb-6 mx-auto border border-black shadow-lg">
         <ng-content select="[second-modal]" ></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div
  (click)="toggleModal()"
  [ngClass]="{ hidden: !modalOpen }"
  class="inset-0 bg-black opacity-40 z-20 fixed"
></div>

