<div class="relative">
    <div
      [ngClass]="{ hidden: !modalOpen }"
      class="bg-white overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center  md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <!-- <div class="p-4 mb-6  mx-auto border border-black shadow-lg"> -->
         <ng-content ></ng-content> 
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div
  (click)="toggleModal()"
  [ngClass]="{ hidden: !modalOpen }"
  class="inset-0 bg-black opacity-40 z-20 fixed"
></div>

