<form
  class="flex flex-col items-center gap-2 mt-5"
  [formGroup]="loginForm"
  (ngSubmit)="onSumbit()"
>
<div>
  <input
    type="email"
    placeholder="email"
    formControlName="email"
    name="email"
    class="form-input md:w-96 w-64 ps-3 py-1 my-3 mt-4 border-none bg-primary rounded-md text-lg text-gray-900 focus:border-orange-300 focus:ring-orange-300"
  />
  <p
    *ngIf="(loginFormControl.email.touched) && loginForm.get('email')?.hasError('required')"
    class="text-red-500"
  >
    email is required
  </p>
  <p
    *ngIf="loginFormControl.email.touched && loginForm.get('email')?.hasError('email')"
    class="text-red-500"
  >
    Please enter a valid email address
  </p>
</div>

<div class="relative">
  <input
    formControlName="password"
    [type]="show?'text':'password'"
    placeholder="Password@123"
    name="password"
    class="form-input md:w-96 w-64 ps-3 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:border-orange-300 focus:ring-orange-300"
    />
    <span class="absolute right-3 top-5 cursor-pointer" (click)="password()">
      <!-- Font Awesome eye icon -->
      <i class="fa-solid text-gray-500" [ngClass]="show?'fa-eye':'fa-eye-slash'"></i>
    </span>
    <p
    class="text-red-500"
    *ngIf="loginFormControl.password.touched && loginForm.get('password')?.hasError('required')"
  >
    Password is required
  </p>
</div>

  <button 
  type="submit"
  class="submit_btn shadow-2xl drop-shadow-lg border border-transparent hover:border-gray-400 text-black font-extrabold uppercase rounded-lg md:w-80 w-64 py-3 mt-4 ml-4"
  [disabled]="!loginForm.valid"
  [@buttonState]="loginForm.valid? 'valid':'invalid'"
  >
  Login In
  <span *ngIf="loginForm.valid" class="gap-3">
    <i class="fa-solid fa-arrow-right-from-bracket text-black"></i>
  </span>
  </button>
</form>
