<app-modal [modalOpen]="modalOpen" (close)="closeModal()">
  <div>
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
      <ul
        class="flex flex-wrap -mb-px text-sm font-medium text-center"
        id="default-tab"
        data-tabs-toggle="#default-tab-content"
        role="tablist"
      >
        <li class="me-2" role="presentation">
          <button
          *ngIf="followersList && followersList.length>0"
            class="inline-block p-4 border-b-2"
            type="button"
            role="tab"
            (click)="toggleTab(TabType.Followers)"
            [ngClass]="{ 'bg-orange-300 text-white': selectedTab === TabType.Followers }"
          >
            Followers
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
          *ngIf="followingList && followingList.length>0"
            class="inline-block p-4 border-b-2 hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            type="button"
            role="tab"
            aria-controls="profile"
            (click)="toggleTab(TabType.Following)"
            [ngClass]="{ 'bg-orange-300 text-white': selectedTab === TabType.Following}"
          >
            Following
          </button>
        </li>
      </ul>
    </div>
    <div id="default-tab-content" [ngSwitch]="selectedTab">
      <div
      *ngSwitchDefault
        class="p-4 rounded-lg  dark:bg-gray-800 flex gap-2 flex-col"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
      <ng-container *ngFor="let follow of followersList">
        <div [routerLink]="['/profile',follow._id]" class="flex bg-gray-200 items-center rounded-lg gap-4 p-2 cursor-pointer">
          <div>
            <img width="50" height="50" src="/assets/images/icons/profile_avatar.svg" alt="">
          </div>
          <div>
            <p class="text-sm text-slate-800 font-semibold dark:text-gray-400" >
              {{follow.firstName |uppercase}} {{follow.lastName|uppercase}}
            </p>
            <p class="text-slate-400 font-light">{{follow.email}}</p>
          </div>
        </div>
      </ng-container>
      </div>
      <div
      *ngSwitchCase="TabType.Following"
      class="p-4 rounded-lg  dark:bg-gray-800 flex gap-2 flex-col"
        id="dashboard"
        role="tabpanel"
        aria-labelledby="dashboard-tab"
      >
      <ng-container *ngFor="let following of followingList">
        <div [routerLink]="['/profile',following._id]"  class="flex bg-gray-200 items-center rounded-lg gap-4 p-2 cursor-pointer">
          <div>
            <img width="50" height="50" src="/assets/images/icons/profile_avatar.svg" alt="">
          </div>
          <div>
            <p class="text-sm text-slate-800 font-semibold dark:text-gray-400" >
              {{following.firstName |uppercase}} {{following.lastName|uppercase}}
            </p>
            <p  class="text-slate-400 font-light">{{following.email}}</p>
          </div>
      </div>
      </ng-container>
      </div>
    </div>
  </div>
</app-modal>
