<ng-container *ngIf="post">
  <div
    class="post p-4 max-w-sm md:max-w-screen-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between p-4 items-center">
      <h1 class="font-mono">
        {{ post.authorId.firstName }} {{ post.authorId.lastName }}
      </h1>
      <button class="flex items-center gap-2 text-blue-600">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer" />
          <div
            class="peer ring-0 bg-green-400 rounded-full outline-none duration-300 after:duration-500 w-12 h-12 shadow-md peer-checked:bg-emerald-500 peer-focus:outline-none after:content-['➕'] after:rounded-full after:absolute after:outline-none after:h-10 after:w-10 after:bg-gray-50 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-hover:after:scale-75 peer-checked:after:content-['✔️'] after:-rotate-180 peer-checked:after:rotate-0"
          ></div></label>
          <span class="font-medium">Follow</span>
      </button>
    </div>
    <div class="">
      <a href="#">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ post.title }}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ post.description }}
      </p>
    </div>
    <div>
        <a href="#" *ngIf="post.image">
            <img class="rounded-t-lg" src="{{ post.imageUrl }}" alt="" />
          </a>
    </div>
    <div>
        <p class="pt-2">
            <span><i class="fa-brands fa-gratipay text-red-400"></i></span>
            {{ post.likes }}
          </p>
    </div>
     
  </div>
</ng-container>
