<ng-container *ngIf="post">
  <div>
    <div class=" flex justify-between p-4 items-center">
      <div class="flex items-center gap-4">
      <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 inline-block">
        <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
    </div>
      <h1 class="font-mono">
        {{ post.authorId.firstName }} {{ post.authorId.lastName }}
      </h1>
      </div>
      <button class="flex items-center gap-2 text-blue-600" (click)="followUser(post.authorId._id)">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer" />
          <div
            class="peer ring-0 bg-green-400 rounded-full outline-none duration-300 after:duration-500 w-12 h-12 shadow-md peer-checked:bg-emerald-500 peer-focus:outline-none after:content-['➕'] after:rounded-full after:absolute after:outline-none after:h-10 after:w-10 after:bg-gray-50 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-hover:after:scale-75 peer-checked:after:content-['✔️'] after:-rotate-180 peer-checked:after:rotate-0"
          ></div></label>
          <span class="font-medium">Follow</span>
      </button>
    </div>
    <div class="">
      <a href="#">
        <h5
          class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white capitalize">
          {{ post.title |titlecase}}
        </h5>
      </a>
      <p class="mb-3 ml-8 font-normal text-gray-700 dark:text-gray-400">
        {{ post.description }}
      </p>
    </div>
    <div class="">
        <a href="#" *ngIf="post.image">
            <img class="rounded-t-lg" src="{{ post.imageUrl }}" alt="" />
          </a>
    </div>
    <div class="border-b-2 pb-2">
        <p class="pt-2">
            <span><i class="fa-brands fa-gratipay text-red-400"></i></span>
            {{ post.likes.like||0}}
          </p>
    </div>
    <div class="flex justify-evenly mt-1">
      <button (click)="addLike(post._id,'like')" class="font-semibold"><span class="font-semibold "><i class="fa-solid fa-heart {{currentUserLiked?'text-red-500':'text-black'}}" ></i></span></button>
      <button (click)="toggleComment(post._id)" class="font-bold hover:text-sm focus:text-sm"><span class="font-semibold "><i class="fa-regular fa-comments" style="color: #3c393b;"></i></span> Comment</button>
      <button class="font-bold hover:text-sm focus:text-sm"><span class="font-semibold "><i class="fa-regular fa-paper-plane" style="color: #3c393b;"></i></span> Send</button>
    </div>
     
  </div>
</ng-container>
