<form
  class="flex flex-col gap-4 mt-10"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
<div class="md:flex flex-row md:w-full gap-4">
  <div class="md:w-1/2 w-full">
    <label for="first name" class="font-medium">First Name:</label>
    <input
    type="text"
    formControlName="firstName"
    placeholder="First Name"
    name="firstname"
    maxlength="20"
    class="form-input w-full ps-3 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100"
    />
  <p
    class="text-red-500 font-light"
    *ngIf="(registerFormControl.firstName.touched) && registerFormControl.firstName.errors?.['required']"
  >
    First name is required
  </p>
  </div>
 <div class="md:w-1/2 w-full">
  <label for="lastName" class="font-medium">Last Name:</label>
  <input type="text" formControlName="lastName" name="lastname" placeholder="Last Name" maxlength="20"
class="form-input w-full ps-3 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100"
/>
<p
  class="text-red-500 font-light"
  *ngIf="(registerFormControl.lastName.touched) && registerFormControl.lastName.errors?.['required']"
>
  Last name is required
</p>
 </div>
</div>
<div class="w-full relative">
  <label for="email" class="font-medium">Email:</label>
  <div class="flex items-center">
  <input
    type="email"
    placeholder="sample@gmail.com"
    formControlName="email"
    name="email"
    class="form-input w-full ps-10 py-1 my-3 mt-4 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100"
  />
  <span class="absolute left-3 top-11 cursor-pointer">
    <!-- Font Awesome lock icon -->
    <i class="fa-solid fa-envelope text-gray-500"></i>
  </span>
</div>
  
    <p
    *ngIf="(registerFormControl.email.touched)&& registerFormControl.email.errors?.['required']"
    class="text-red-500 font-light"
  >
    Email is required
  </p>
  <p *ngIf="registerFormControl.email.errors?.['email']" class="text-red-500">
    Please enter a valid email address
  </p>
  </div>
 <div class="w-full relative">
  <label for="phone" class="font-medium">Phone:</label>
  <div class="flex items-center">
  <input 
  formControlName="mobile"
  type="tel" 
  maxlength="10"
  pattern="[0-9]{10}"
  name="9132834310"
  placeholder="9132834310"
  class="form-input w-full ps-10 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100"
  >
  <span class="absolute left-3 top-10 cursor-pointer">
    <!-- Font Awesome lock icon -->
    <i class="fa-solid fa-mobile text-gray-500"></i>
  </span>
</div>
  <p
  *ngIf="(registerFormControl.mobile.touched)&& registerFormControl.mobile.errors?.['required']"
  class="text-red-500 font-light"
>
  Phone Number is required
</p>
<p *ngIf="registerFormControl.mobile.errors?.['phone']" class="text-red-500">
  Please enter a valid  phone number
</p>
 </div>

<div class="w-full relative">
  <label for="password" class="font-medium">Password:</label>
    <input
    formControlName="password"
    [type]="show ? 'text':'password'"
    placeholder="Password@123"
    class="form-input w-full ps-3 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100"
  />
  <span class="absolute right-4 top-10 cursor-pointer" (click)="password()">
    <!-- Font Awesome eye icon -->
    <i class="fa-solid text-gray-500" [ngClass]="show?'fa-eye':'fa-eye-slash'"></i>
  </span>
<p
  class="text-red-500 font-light"
  *ngIf="
    (registerFormControl.password.touched) && registerFormControl.password.errors?.['required']"
>
  Password is required
</p>
<p
  class="text-red-500 font-light"
  *ngIf="registerFormControl.password.touched  && registerFormControl.password.errors?.['invalidPassword']"
>
  Password should have minimum 8 characters,at least 1 uppercase letter,1
  lowercase letter and 1 number is required
</p>
</div>
 <div class="relative">
  <label for="confirm_password" class="font-medium">Confirm Password:</label>
  <div class="flex items-center">
    <input
      formControlName="confirmPassword"
      placeholder="confirm password"
      type="password"
      class="form-input w-full ps-10 py-1 my-3 border-none bg-primary rounded-md text-lg text-gray-900 focus:outline-orange-100 relative"
    />
    <span class="absolute left-3 top-10 cursor-pointer">
      <!-- Font Awesome lock icon -->
      <i class="fa-solid fa-lock text-gray-500"></i>
    </span>
  </div>
 
<p
  class="text-red-500 font-light"
  *ngIf="
  (registerFormControl.confirmPassword.touched) && registerFormControl.confirmPassword.errors?.['required']"
>
  confirm password is required
</p>
<p
  class="text-red-500"
  *ngIf="
   registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.['passwordMismatch']"
>
  Confirm Password doesn't match
</p>
 </div>

  <button
    type="submit"
    class="submit_btn shadow-2xl drop-shadow-lg border border-transparent hover:border-gray-400 text-black font-extrabold uppercase rounded-lg md:w-60 w-40 py-3 ml-14 mb-8 md:mb-0"
    [disabled]="!registerForm.valid"
    [@buttonState]="registerForm.valid? 'valid':'invalid'"
  >
    Register Now
    <span *ngIf="registerForm.valid" class="gap-3">
      <i class="fa-regular fa-circle-check text-black"></i>
    </span>
  </button>
</form>

<!-- <div class="m-5 flex items-center flex-col">
  <h1>---------------------- Or signup with ----------------------</h1>
<button (click)="loginWithGoogle()" mat-raised-button class="" ><img src="/assets/images/icons/google.png" alt="" width="50" height="50"></button>

</div> -->
