.google-login-btn {
    background-image: url('src/assets/images/icons/google.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10%;
    padding-left: 10%;
  }
  