<div class="w-full px-16 md:px-0 h-screen flex items-center justify-center">
    <div class="card bg-white p-12 rounded-lg shadow-md text-center">
        <div class="bg-green-200 rounded-full h-32 w-32 flex items-center justify-center mx-auto mb-8">
          <i class="text-green-600 text-6xl">✓</i>
        </div>
        <h1 class="text-green-600 font-semibold text-4xl mb-2">Success</h1>
        <p class="text-gray-700 text-lg">We received your purchase request;<br/> we'll be in touch shortly!</p>
        <button type="button" class="m-4 bg-green-300 p-4 rounded-lg font-semibold"><a href="/">Go Home</a></button>
      </div>
</div>