<ng-container *ngIf="messageRecieved; else noMessage">
  <div class="bg-gray-100 w-full flex items-center gap-3 p-4 shadow-sm">
    <img
      class="w-8 h-8 rounded-full"
      src="/assets/images/icons/profile_avatar.svg"
      alt="Jese image"
    />
    <p class="text-black">{{ participantData?.firstName | uppercase }}</p>
    <button
      type="button"
      class="inline-block fixed right-8"
      (click)="onMakeVideoCall(CurrentChatMessages[0].chat)"
    >
      <img
        class="w-8 h-8"
        src="/assets/images/icons/video-call-svgrepo-com.svg"
        alt=""
      />
    </button>
  </div>
  <div class="flex flex-col flex-auto" #scrollMe HideScrollbar>
    <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl h-full">
      <div class="flex flex-col h-full overflow-x-auto mb-4">
        <div class="flex flex-col h-full">
          <ng-container *ngIf="CurrentChatMessages.length; else noChatMessages">
            <div class="grid grid-cols-12 gap-y-2">
              <ng-container *ngFor="let messages of CurrentChatMessages">
                <div
                  class="p-3 rounded-lg"
                  [ngClass]="
                    isCurrentUserSender(messages)
                      ? ['col-start-6', 'col-end-13']
                      : ['col-start-1', 'col-end-8']
                  "
                >
                  <div
                    class="flex flex-row items-center"
                    [ngClass]="{
                      'flex-row-reverse': isCurrentUserSender(messages)
                    }"
                  >
                    <!-- <div
                      class=" text-black flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    *ngIf="!isCurrentUserSender(msg)"
                      >
                      {{chatData.firstName.charAt(0)|uppercase}}
                    </div> -->
                    <div
                      class="relative text-sm bg-slate-100 flex gap-6 py-2 px-4 shadow rounded-xl"
                      [ngClass]="{
                        'bg-slate-300': isCurrentUserSender(messages)
                      }"
                    >
                      <div>{{ messages.content }}</div>
                      <sub class="text-xs self-end text-nowrap">
                        <!-- {{ msg.createdAt | date : "h:mm a" }} -->
                        {{ messages.createdAt | timeAgo }}
                      </sub>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-start-6 col-end-13 p-3 rounded-lg" *ngIf="!isCurrentUserSender(msg)">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                     {{msg.sender.firstName.charAt(0)}} 
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-gray-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div>{{msg.text}}</div>
                    <p>{{msg.createdAt|date:'h:mm a'}}</p>
                  </div>
                </div>
              </div> -->
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- Chat send area -->
  <div class="mt-4">
    <form (ngSubmit)="sendMessage()">
      <div class="flex">
        <!-- <div class="relative w-full"> -->
          <!-- <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <svg fill="#686e82" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#686e82"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M4.666,19.63a6.765,6.765,0,0,1-.148-9.713l6.8-6.8a4.845,4.845,0,1,1,6.852,6.851l-6.8,6.8a2.992,2.992,0,0,1-4.132,0,2.927,2.927,0,0,1,0-4.133L12.673,7.2a1,1,0,0,1,1.414,1.414L8.65,14.049a.925.925,0,0,0,0,1.3.945.945,0,0,0,1.3,0l6.8-6.8a2.845,2.845,0,0,0-4.023-4.023l-6.8,6.8a4.766,4.766,0,0,0,.1,6.843,4.93,4.93,0,0,0,6.807-.273l7.984-7.984a1,1,0,1,1,1.414,1.414l-7.984,7.984A7.122,7.122,0,0,1,9.223,21.4,6.607,6.607,0,0,1,4.666,19.63Z"></path></g></svg>
          </span> -->
          <input
            [(ngModel)]="messageTyped"
            name="message"
            type="text"
            id="search-dropdown"
            class="rounded-none block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
            placeholder="Type here..."
            required
          />
        <!-- </div> -->
      </div>
    </form>
  </div>

</ng-container>
<ng-template #noMessage>
  <div class="flex items-center gap-2.5 flex-col">
    <img
      src="/assets/images/icons/undraw_conversation_re_c26v.svg"
      alt=""
      width="300"
      height="300"
      class="m-auto"
    />
    <h1>Please select a <strong>Converstion🙂</strong></h1>
  </div>
</ng-template>

<ng-template #noChatMessages>
  <div class="flex items-center gap-2.5 flex-col">
    <img
      src="/assets/images/icons/undraw_begin_chat_re_v0lw.svg"
      alt=""
      width="200"
      height="200"
      class="m-auto"
    />
    <h1>No Messages</h1>
  </div>
</ng-template>

