 <ng-container  *ngIf="messageRecieved;else noMessage">
   <div class="bg-gray-100 w-full flex items-center gap-3 p-4">
      <img class="w-8 h-8 rounded-full" src="/assets/images/icons/profile-picture-5.jpg" alt="Jese image">
      <p class="text-black">{{chatData.firstName}} {{chatData.lastName}}</p>
   </div>
   <div class="flex flex-col flex-auto h-full p-6" #scrollMe>
      <div
        class="flex flex-col flex-auto flex-shrink-0 rounded-2xl  h-full"
      >
        <div class="flex flex-col h-full overflow-x-auto mb-4">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2">
              <ng-container  *ngFor="let msg of getAllMsg">
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center"
                  [style.background-color]="!messageRecieved ? '#e2f7cb' : '#f2f2f2'">
                    <div
                      class=" text-black flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    *ngIf="!messageRecieved"
                      >
                      {{chatData.firstName.charAt(0)|uppercase}}
                    </div>
                    <div
                      class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                    >
                      <div>{{msg.text}}</div>
                      <p>{{msg.createAt|date:'h:mm a'}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            
              <!-- <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-gray-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div>I'm ok what about you?</div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <!-- Chat send area -->
    <div class="mt-4">
        <form  (ngSubmit)="sendMessage()">
            <div class="flex gap-4">
                <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                <div class="relative w-full">
                    <input [(ngModel)]="message" name="message"  type="text" id="search-dropdown" class=" rounded-md block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-0  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Type here..." required>
                    <!-- <button type="submit" class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-gray-700 rounded-e-lg border">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button> -->
                </div>
            </div>
        </form>        
    </div>
</ng-container> 
<ng-template #noMessage>
   <div class="flex items-center gap-2.5 flex-col ">
      <img src="/assets/images/icons/inbox.png" alt="" class="m-auto">
      <h1 class="font-bold">No Chats</h1>
   </div>
</ng-template>