<app-comment-form submitLabel="Write Comment"
(handleSubmit)="addComment({content:$event,parentId:null})"></app-comment-form>
<div *ngIf="comments.length > 0; else noComments">
    <app-post-comment
    *ngFor="let rootcomment of getRootComments()"
    [comment]="rootcomment"
    [currentUserId]="currentUserId"
    [replies]="getReplies(rootcomment._id)"
    (setActiveComment)="setActiveComment($event)"
    (addComment)="addComment($event)"
    [activeComment]="activeComment"
    ></app-post-comment>
  </div>
  <ng-template #noComments>
    <p class="font-bold">No comments for this post. Add a comment!</p>
  </ng-template>