<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <textarea formControlName="title" class="w-full h-20  mb-2 mt-2 rounded-3xl border-solid border-2 border-gray-500 focus:border-none focus:outline-none"></textarea>
    <small *ngIf="form.get('title')?.hasError('required') && form.get('title')?.touched" class="text-red-500">
        Title is required
      </small>
    <button class="p-2 text-sm rounded-xl  bg-green-300 hover:bg-black hover:text-green-300 hover:cursor-pointer" type="submit" [disabled]="form.invalid">
    {{submitLabel}}</button>
    <button *ngIf="hasCancelButton" type="button" class="comment-form-button comment form-cancel-button">  
    Cancel
    </button>
</form>