<div class="bg-gray-100 m-2 rounded-lg">
    <div class="mx-auto py-8">
        <div class="flex gap-2">
            <app-search-user></app-search-user>
            <button (click)="CallCreateUserModal()" class="bg-gray-500 text-white p-4 rounded-md hover:bg-gray-300 hover:text-black hover:font-medium disabled:bg-gray-50">+ Add Chat</button>
        </div>
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <!-- Sidebar div -->
            <div class="col-span-6 sm:col-span-3">
                <div class="flex flex-col gap-2">
                   
                    <app-aside [allChats]="getChats"
                    (chatSelected)="onChatSelected($event)" 
                    [unreadMessages]="unreadMessages"
                    ></app-aside>
                    </div>
            </div>
        <!-- Chat content div -->
            <div class="col-span-6 sm:col-span-9">
            <div class="bg-gray-50 drop-shadow-xl rounded-lg p-4">
                <app-chat-detail [messageRecieved]="messageRecieved"
                [participantData]="participantData" 
                (messageSend)="onMessageSend($event)"
                [isSendByUser]="isSendByUser.bind(this)"
                [CurrentChatMessages]="chatMessages"
                (makeVideoCallClicked)="makeVideoCall($event)"
                #chatDetail></app-chat-detail>
            </div>
        </div>
    </div>
    </div>
</div>
<create-chat *ngIf="openCreateChatModal" [modalOpen]="openCreateChatModal" (closeCreateChatComponent)="closeCreateChatModal()" [followers]="followers" (followerSelected)="handleFollowerSelected($event)"></create-chat>


<video-call *ngIf="openVideoCall" [openVideoCall]="openVideoCall" (remoteVideoRef)="receiveRemoteVideo($event)"></video-call>

