<section class="min-h-screen flex items-center justify-center mt-5 p-5">
    <div class="background-form drop-shadow-2xl rounded-2xl  max-w-5xl items-center flex">
        <div class="w-full md:w-1/2 pl-20 pr-20">
            <h1 class="font-black text-black underline text-center mt-5">MOTOPEDIA</h1>
            <h3 *ngIf="currentTab!==TabType.Signup" class="font-semibold mt-5">Welcome Back!</h3>
            <h2 *ngIf="currentTab===TabType.Signup" class="font-black mt-5">Hello<span class="flex">Please signup to continue!</span></h2>
            <div class="bg-orange-400 drop-shadow-lg shadow-orange-100/50  rounded-lg text-lg font-black flex gap-2 justify-around p-3 md:w-80 w-64 text-black mt-5 ml-9 md:ml-0">
                <button class="uppercase" [ngClass]="{
                    'bg-white': currentTab!==TabType.Signup,
                    'text-black':currentTab===TabType.Signup,
                    'hover:bg-slate-300': currentTab === TabType.Signup 
                }"
                    (click)="selectTab(TabType.Login)"
                    class="rounded-lg py-1 px-7 md:px-10"
                >Login</button>
                <button class="uppercase"
                [ngClass]="{
                    'bg-white': currentTab===TabType.Signup,
                    'text-black':currentTab!==TabType.Signup, 
                    'hover:bg-slate-100': currentTab !== TabType.Signup
                }"
                    (click)="selectTab(TabType.Signup)"
                    class="rounded-lg py-1 px-7 md:px-5"
                >Signup</button>
            </div>
                <ng-content></ng-content>
                <div
                *ngIf="currentTab === TabType.Login"
                class="flex justify-center items-center"
              >
                <button (click)="selectTab(TabType.Verify)" class="text-white my-4">
                  forgot password?
                </button>
              </div>
        </div>
        <div class="hidden md:block w-1/2">
            <img src="/assets/images/background/bike_login_wallpaper.jpg" alt="" class="rounded-r-lg">
        </div>
    </div>
</section>