<div class="bg-gray-100 m-2 rounded-lg">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <!-- User profile div -->
            <div class="col-span-4 sm:col-span-12">
                <div class="bg-gray-50 rounded-lg p-6">
                    <div class=" bg-gray-50 drop-shadow-2xl rounded-md flex flex-row items-start p-6">
                        <div class="flex items-center">
                            <img src="https://randomuser.me/api/portraits/men/94.jpg" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">
                        </div>
                        <div class="ml-4">
                            <h1 class="text-xl font-bold ">{{profile?.firstName||''}} {{profile?.lastName||''}}</h1>
                            <p class="text-gray-700">{{profile?.email||''}}</p>
                            <div class="flex gap-4">
                                <p class="text-gray-700 hover:cursor-pointer focus:cursor-pointer">Followers <br>{{followersLength}}</p>|
                                <p class="text-gray-700 hover:cursor-pointer focus:cursor-pointer">Following <br>{{followingLength}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar div -->
            <div class="col-span-4 sm:col-span-3">
              <app-aside
              (editprofile)="showProfile()"
              (postsClicked)="showPosts()"
              (savedPostsClicked)="showSavedPosts()"
              ></app-aside>
            </div>
        <!-- postConatiner div -->
            <div class="col-span-4 sm:col-span-9">
            <div class="bg-gray-50 drop-shadow-xl rounded-lg p-6">
                <app-edit-profile *ngIf="displayContent==='Profile'" [userData]="profile"></app-edit-profile>
                <app-list-post *ngIf="displayContent==='Posts'"></app-list-post>
            </div>
        </div>
    </div>
</div>


