<div
  data-dial-init
  class="fixed bottom-6 right-10 group opacity-50 hover:opacity-100"
>
  <div
    id="speed-dial-menu-dropdown-alternative"
    class="flex flex-col justify-end py-1 mb-4 space-y-2 bg-white rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600"
  >
    <ul class="text-sm text-gray-500 dark:text-gray-300">
      <li>
        <a
          type="button"
          (click)="onClick()"
          class="flex items-center px-5 py-2 border-b border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white dark:border-gray-600"
        >
          <svg
            class="w-3.5 h-3.5 me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 18"
          >
            <path
              d="M18 0H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L10.414 13H18a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5 4h2a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2ZM5 4h5a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Zm2 5H5a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Zm9 0h-6a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z"
            />
          </svg>
          <span class="text-sm font-medium">New post</span>
        </a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    data-dial-toggle="speed-dial-menu-dropdown-alternative"
    aria-controls="speed-dial-menu-dropdown-alternative"
    aria-expanded="false"
    class="flex items-center justify-center ml-auto text-white bg-gray-900 rounded-full w-14 h-14 hover:bg-black dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-black focus:outline-none dark:focus:ring-blue-800"
  >
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="m13.835 7.578-.005.007-7.137 7.137 2.139 2.138 7.143-7.142-2.14-2.14Zm-10.696 3.59 2.139 2.14 7.138-7.137.007-.005-2.141-2.141-7.143 7.143Zm1.433 4.261L2 12.852.051 18.684a1 1 0 0 0 1.265 1.264L7.147 18l-2.575-2.571Zm14.249-14.25a4.03 4.03 0 0 0-5.693 0L11.7 2.611 17.389 8.3l1.432-1.432a4.029 4.029 0 0 0 0-5.689Z"
      />
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
</div>

<!-- <app-create-post></app-create-post> -->
