<app-create-post (createPostForm)="createPost($event)" *ngIf="isCreatePostVisible"></app-create-post>

<div *ngIf="posts" class="flex gap-2 flex-col items-center">
  <ng-container *ngFor="let post of posts ">
    <app-post-card [post]="post" (like)="like($event)" (follow)="follow($event)"></app-post-card>
  </ng-container>
</div>
<div data-dial-init class="fixed end-6 bottom-6 group">
  <button type="button" (click)="showCreatePost()" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800" title="create_post">
      <svg class="w-5 h-5 transition-transform group-hover:rotate-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
      </svg>
  </button>
</div>


