@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    background: linear-gradient(0.25turn,#5eabab,#eb6d3b);
    /* background: linear-gradient(#51A3A3, #ED581C); */
    /* background: rgba(0, 0,0,1); */
    /* background: lightblue; */
}

.background-form{
    background: #DFCCB5;
}

.submit_btn{
    background-color: rgba(255, 151,0,0.4)
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        /* Firefox */
      }


      /* snack bar custom */
.success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background: rgb(255, 255, 255);
}

.success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface .mat-mdc-button {
  color: rgb(255, 166, 166) !important;
}

.success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface .mat-mdc-button:hover {
  color: rgb(250, 83, 83) !important;
}

.success-snackbar.mat-mdc-snack-bar-container .mat-mdc-snack-bar-label.mdc-snackbar__label {
  color: rgb(0, 0, 0);
  font-weight: 500;
  white-space: pre-wrap;
}