<!-- <app-navbar></app-navbar> -->

<!-- <section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply"> -->
    <section>
    <div class="px-4 m-10 rounded-lg text-center py-24 md:py-56 bg-[#FEA1A7]">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Make your trip more fun with the <span class="font-extrabold text-orange-500">MOTOPEDIA</span> community.</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">"Bike lovers unite! Find your biking haven at MOTOPEDIA <BR>where the road becomes your canvas.🚵‍♂️"</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/posts" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#F5683C] hover:bg-white hover:text-[#F5683C] focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Explore Now
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <!-- <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Learn more
            </a>   -->
        </div>
    </div>
    <div class="bg-[#FED4D6] container items-center p-2 sm:text-center">
        <h1 class="text-[#F5683C] ml-4 font-medium">Our Process</h1>
        <div class="m-4 p-4 font-bold flex flex-col gap-2 sm:items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:justify-between">
            <button class="bg-white p-4 rounded-lg w-80">We Offer Following <br> Services for You</button>
            <button class="bg-white p-4 rounded-lg w-80">Various of <br> Destination</button>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row sm:justify-between">
            <button class="bg-white p-4 rounded-lg w-80">High Quality <br> Photo Sharing</button>
            <button class="bg-white p-4 rounded-lg w-80">Easy of Content <br> Sharing</button>
        </div>
    </div>
    </div>
    <!-- Part 3 -->
    <div class="p-2">
        <div class="m-4">
        <div class="">
            <h1 class="text-[#F5683C]  font-bold text-lg">What They say</h1>
            <p class="font-semibold text-xs">What Our Customer Say</p>
        </div>
        <div>
            <div class="p-2 sm:flex sm:gap-4 sm:items-center sm:text-center sm:justify-evenly">
                    <img src="/assets/images/home-page/customers01.jpg" alt="customer feedback" class="rounded-md sm:w-1/2">
                <q class="font-medium">I am using this platform for a while and enjoy using it.</q>
            </div>
            <div class="p-2 sm:flex sm:gap-2 sm:items-center sm:text-center sm:justify-evenly">
                <q class="font-medium inline-block w-1/2">Iam from India and exploring more riders adventure trip makes me more happy to see here.</q>
                    <img src="/assets/images/home-page/customer02.jpg" alt="group trip" class="rounded-md sm:w-1/2">
            </div>
        </div>
    </div>
    </div>
</section>
<footer>
    <app-footer></app-footer>
</footer>


