<div class="bg-gray-50 drop-shadow-xl rounded-lg p-6">
  <h2 class="text-xl font-bold mb-4">Sidebar</h2>
  <div class="flex flex-col gap-4 drop-shadow-xl">
    <button
      class="bg-gray-50 rounded-xl drop-shadow-lg w-full p-4 font-bold"
      (click)="onEditProfile()"
    >
      Profile
    </button>
    <button
      class="bg-gray-50 rounded-xl drop-shadow-lg w-full p-4 font-bold"
      (click)="onPosts()"
    >
      Posts
    </button>
    <!-- <button class="bg-gray-50 rounded-xl drop-shadow-lg w-full p-4 font-bold" (click)="onSavedPosts()" >Saved Posts</button> -->
  </div>
</div>
