<div class="flex mb-7 mt-2">
  <div class="mr-3">
    <img
      class="rounded-sm"
      src="/assets/images/icons/user.png"
      width="20"
      height="20"
    />
  </div>
  <div class="w-full flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
    <div class="flex">
      <div class="mr-2 text-xl ">
        <strong>{{ comment.userId.firstName }} {{ comment.userId.lastName }}</strong>
      </div>
    </div>
    <div class="text-lg">{{ comment.content }}</div>
    <div class="comment-actions">
      <div
        *ngIf="canReply"
        class="flex text-xs cursor-pointer mt-2 hover"
        (click)="
          setActiveComment.emit({
            id: comment.id,
            type: activeCommentType.replying
          })
        "
      >
        Reply
      </div>
      <div
        *ngIf="canEdit"
        class="comment-action"
        (click)="
          setActiveComment.emit({
            id: comment.id,
            type: activeCommentType.editing
          })
        "
      >
        Edit
      </div>
      <div *ngIf="canDelete">Delete</div>
    </div>
    <app-comment-form
      *ngIf="isReplying()"
      sumbitLabel="Reply"
      (handleSubmit)="addComment.emit({ content: $event, parentId: replyId })"
    ></app-comment-form>
  </div>
</div>
