<div class="flex mb-7 mt-2">
  <div class="mr-3">
    <img
      class="rounded-sm"
      src="/assets/images/icons/profile_avatar.svg"
      width="20"
      height="20"
    />
  </div>
  <div class="w-full flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
    <div class="flex">
      <div class="mr-2 text-xl ">
        <strong>{{ comment.userId.firstName }} {{ comment.userId.lastName }}</strong>
      </div>
    </div>
    <div class="text-lg">{{ comment.content }}</div>
    <div class="comment-actions flex gap-2">
      <div
        *ngIf="canReply"
        class="text-xs cursor-pointer mt-2"
        (click)="
          setActiveComment.emit({
            id: comment._id,
            type: activeCommentType.replying
          })
        "
      >
        Reply
      </div>
      <!-- <div
        *ngIf="canEdit"
        class="text-xs cursor-pointer mt-2"
        (click)="
          setActiveComment.emit({
            id: comment._id,
            type: activeCommentType.editing
          })
        "
      >
        Edit
      </div> -->
      <!-- <div *ngIf="canDelete"
      class="text-xs cursor-pointer mt-2">Delete</div> -->
    </div>
    <app-comment-form
    *ngIf="isReplying()"
    [submitLabel]="'Reply'"
    (handleSubmit)="addComment.emit({ content: $event, parentId: replyId });closeCommentForm()"
    ></app-comment-form>
  </div>
</div>
  <div class="ml-8" *ngIf="replies.length > 0">
    <app-post-comment
      *ngFor="let reply of replies"
      [comment]="reply"
      (setActiveComment)="setActiveComment.emit($event)"
      [activeComment]="activeComment"
      (addComment)="addComment.emit($event)"
      [parentId]="comment._id"
      [replies]="[]"
      [currentUserId]="currentUserId"
    ></app-post-comment>
  </div>
